body {
  font-family: "Helvetica";
  background: aliceblue; }

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

a {
  padding: 11px 15px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  cursor: pointer; }
  a:hover {
    background-color: #ff3814; }

button {
  font-size: 20px;
  height: 65px;
  width: 200px;
  border-radius: 10px;
  border: none;
  color: white;
  box-shadow: 1px 1px 0px 2px rgba 0, 0, 0, 0.3;
  background: #8dd9fc;
  cursor: pointer; }

.red {
  background: tomato; }

.green {
  background: green; }

.panel {
  width: 33%;
  background-color: #607d8b;
  justify-content: center;
  display: flex; }
  .panel:hover {
    background-color: #7b96a3; }
